[submodule "vim/bundle/dracula"]
	path = vim/bundle/dracula
	url = git@github.com:dracula/vim.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
